---
---
html {
  background-color: #fafafa;
}

.content {
  margin: 0 auto;
  width: 664px;
  padding-top: 100px;
  padding-bottom: 100px;
}

@media screen and (max-width: 728px) {
  .content {
    width: 90%;
    padding-left: 5%;
    padding-right: 5%;
  }
}

.header {
  padding: 24px;
}

.back {
  position: fixed;
  top: 24px;
  left: 24px;
}

.subheader {
  padding: 0 32px;

  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  font-size: 24px;
}

.line {
  background-color: #bbb;
  width: 64px;
  margin: 0 32px 16px 32px;
  height: 1px;
}

.name {
  margin: 0;

  font-family: 'Playfair Display', serif;
  font-size: 48px;
}

.subname {
  color: #999;
  font-family: 'Poppins', sans-serif;
  font-size: 18px;
  font-weight: 500;
}

.posts {
  list-style-type: none;
  padding: 0;
}

.entry {
  padding: 24px;
  transition: box-shadow 0.2s;
  cursor: pointer;
}

.entry-link {
  text-decoration: none;
}

.entry:hover {
  box-shadow: 0px 0px 4px rgba(0, 0, 0, .5);
}

.post-title {
  display: block;

  color: #000;
  font-family: 'Poppins', sans-serif;
  font-size: 20px;
  font-weight: 700;
  text-decoration: none;
}

.post-date {
  color: #999;
  font-family: 'Poppins', sans-serif;
  font-size: 14px;
  font-weight: 500;
}

.post-excerpt {
  color: #000;
  font-family: 'Crimson Text', serif;
  font-size: 18px;
}

.read-more {
  color: #0095FF;
  font-size: 14px;
  font-family: 'Poppins', sans-serif;
  text-align: center;
}

.footer {
  padding: 32px;
  font-style: italic;
}

.archive-link {
  color: #999;
  text-decoration: none;
}


.page-title {
  margin: 0;

  font-family: 'Playfair Display', serif;
  font-size: 48px;
}

.page-date {
  color: #999;
  font-family: 'Poppins', sans-serif;
  font-size: 18px;
  font-weight: 500;
}

.page-content {
  padding: 0 32px;

  font-family: 'Crimson Text', serif;
  font-size: 18px;
}

.page-content img {
  margin: 0 auto;
  display: block;
  width: 100%;
}

.page-content a {
  color: #666;
  text-decoration: underline;
  transition: 0.1s color;
}

.page-content a:hover {
  color: #09f;
}

.page-content hr {
  margin: 48px 0;
  border: 1px solid #ddd;
  border-bottom-width: 0px;
}

.post-excerpt h1, .page-content h1 {
  margin-bottom: 0px;

  color: #000;
  font-size: 32px;
  font-family: 'Poppins', sans-serif;
}

.post-excerpt h2, .page-content h2 {
  margin-top: 8px;
  margin-bottom: 0px;

  color: #000;
  font-size: 24px;
  font-family: 'Poppins', sans-serif;
}

.post-excerpt strong,
.post-excerpt em,
.page-content strong,
.page-content em {
  color: #000;
}

p {
  margin-bottom: 36px;
}
