---
---
html {
  background-color: #fafafa;
}

.content {
  margin: 0 auto;
  width: 512px;
  padding-top: 100px;
}

@media screen and (max-width: 632px) {
  .content {
    width: 90%;
    padding-left: 5%;
    padding-right: 5%;
  }
}

.header {
  padding-bottom: 32px;
}
.name {
  margin: 0;

  font-family: 'Playfair Display', serif;
  font-size: 48px;
}

.subname {
  color: #999;
  font-family: 'Poppins', sans-serif;
  font-size: 18px;
  font-weight: 500;
}

.posts {
  list-style-type: none;
  padding: 0;
}

.entry {
  margin-top: 32px;
}

.post-title {
  display: block;

  color: #000;
  font-family: 'Poppins', sans-serif;
  font-size: 24px;
  font-weight: 700;
  text-decoration: none;
}

.post-title:hover {
  text-decoration: underline;
}

.post-date {
  color: #999;
  font-family: 'Poppins', sans-serif;
  font-size: 14px;
  font-weight: 500;
}

.post-excerpt {
  font-family: 'Crimson Text', serif;
  font-size: 18px;
}

.page-title {
  margin: 0;

  font-family: 'Playfair Display', serif;
  font-size: 48px;
}

.page-date {
  color: #999;
  font-family: 'Poppins', sans-serif;
  font-size: 18px;
  font-weight: 500;
}

.page-content {
  font-family: 'Crimson Text', serif;
  font-size: 18px;
}
