<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <link rel="stylesheet" href="{{ "/css/style.css" | prepend: site.baseurl }}">
    <link href="https://fonts.googleapis.com/css?family=Crimson+Text|Playfair+Display:700|Poppins:500,700" rel="stylesheet">
    <meta name="description" content="I'm a designer and developer studying at the
    University of Waterloo. I was previously an intern at Facebook, Google, Coursera and Figma.">
    <meta name="keyword" content="Andy, Zhang, University, Waterloo, Portfolio, website, Facebook, Google, Coursera, Figma, Quora, Design, Product, Developer, Engineer, Software, 2018, intern, photography, Instagram">
    <title>{{ page.title }}</title>
  </head>
  <body class="content">
    <div class="header">
      <div class="page-title">
        {{ page.title }}
      </div>
      <div class="page-date">
        {{ page.date | date: "%b %-d, %Y" }}
      </div>
    </div>
    <div class="page-content">
    {{ content }}
    </div>
  </body>
</html>

